@model FaleMais.Models.DDD

@{
    ViewBag.Title = "Create";
}

<h2>Cadastrar</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DDD</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DDD_CODIGO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DDD_CODIGO)
            @Html.ValidationMessageFor(model => model.DDD_CODIGO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DDD_ATIVO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DDD_ATIVO)
            @Html.ValidationMessageFor(model => model.DDD_ATIVO)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar ", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
